body {
    background-color: rgb(30, 135, 170);
}

#container {
    /* border: 3px solid rgb(140, 166, 175); */
    background-color: rgb(62, 166, 201);
    height: 600px;
    width: 800px;
    margin: 90px auto;
    position: relative;
    border-radius: 11px;
    box-shadow: 0px 5px 10px 1px;   
}

#intro {
    text-align: center; color: floralwhite;
}

#greetingInput {
    text-align: center; color: floralwhite;
}

#quiz {
    text-align: center; color: floralwhite;
}

.startButton {
    background-color: rgb(62, 166, 201);
    border-color: rgb(9, 190, 251);
    width: 200px;
    height: 50px;
    margin: 200px auto;
    font-weight: bolder;
    font-size: 25px;
    border-radius: 6px;
    color: rgb(3, 14, 17);
    box-shadow: 0px 5px 5px 1px;
    cursor: pointer;   
}


.startButton:hover {
    transform: translate(2px, 2px);
    background-color: rgb(30, 135, 170);
}

#question {
    color: black;
    font-size: 30px;
    margin-top: 150px;
}

#answerA {
    font-size: 30px;
    border: 2px solid white;
    /* background-color: blue; */
    margin-left: 190px;
    margin-right: 190px;
    cursor: pointer;    
    margin-bottom: 5px;
    border-radius: 20px;
}

#answerB {
    font-size: 30px;
    border: 2px solid white;
    /* background-color: blue;  */
    margin-left: 190px;
    margin-right: 190px;
    cursor: pointer;    
    margin-bottom: 5px;
    border-radius: 20px;
}

#answerC {
    font-size: 30px;
    border: 2px solid white;
    /* background-color: blue; */
    margin-left: 190px;
    margin-right: 190px;
    cursor: pointer;   
    margin-bottom: 5px; 
    border-radius: 20px;
}

#answerD {
    font-size: 30px;
    border: 2px solid white;
    /* background-color: blue; */
    margin-left: 190px;
    margin-right: 190px;
    cursor: pointer;    
    margin-bottom: 5px;
    border-radius: 20px;
}

#answerA:hover {
    transform: translate(2px, 2px);
    background-color: lightblue;
}

#answerB:hover {
    transform: translate(2px, 2px);
    background-color: lightblue;
}

#answerC:hover {
    transform: translate(2px, 2px);
    background-color: lightblue;
}

#answerD:hover {
    transform: translate(2px, 2px);
    background-color: lightblue;
}

.next1{
    font-size: 30px;
    border: 2px solid white;
    background-color: blue;
    cursor: pointer;  
    width: 500px;
    height: 50px;
    cursor: pointer;
    border-radius: 20px;
    color: white;
}

.next2{
    font-size: 30px;
    border: 2px solid white;
    background-color: blue;
    cursor: pointer;  
    width: 500px;
    height: 50px;
    cursor: pointer;
    border-radius: 20px;
    color: white;
}

.submit{
    font-size: 30px;
    border: 2px solid white;
    background-color: blue;
    cursor: pointer;  
    width: 500px;
    height: 50px;
    cursor: pointer;
    border-radius: 20px;
    color: white;
}


.next1:hover {
    transform: translate(2px, 2px);
    background-color: orange;
}

.next2:hover {
    transform: translate(2px, 2px);
    background-color: orange;
}

.submit:hover {
    transform: translate(2px, 2px);
    background-color: orange;
}

#headerText {
    color: lightblue;
}


